{% extends "layout.html" %}
{% block content %}
        <div class ="links">
            <h1> Links </h1>
            <p> <b> Some links I want to keep track of. </b> </p>
            <p> <b>Physics:</b>
                <ul>
                    <li>link1</li>
                    <li>link2</li>
                    <li>link3</li>
                </ul>
            </p>

            <p> <b>Coding/CS:</b>
                <ul>
                    <li><a href="https://towardsdatascience.com/build-a-text-generator-web-app-in-under-50-lines-of-python-9b63d47edabb">Language Generator app tutorial</a></li>
                    <li>link2</li>
                    <li>link3</li>
                </ul>

            </p>

        </div>
        </body>
    
{% endblock %}